networks:
  backend:
  frontend:
services:
  db:
    build:
      context: .
      dockerfile: dockerfiles/db.dockerfile
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: EntitiesAndValues
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d EntitiesAndValues"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - backend
  dataseeder:
    build:
      context: .
      dockerfile: dockerfiles/dataseeder.dockerfile
      network: host
      args:
        HOST: localhost
        PORT: 5431
    depends_on:
      db:
        condition: service_healthy
        restart: true
    networks:
      - backend
  api:
    build:
      context: .
      dockerfile: dockerfiles/api.dockerfile
      network: host
    ports:
      - "5001:5000"
    depends_on:
      db:
        condition: service_healthy
        restart: true
    networks:
      - backend
      - frontend
  dataseeder_api:
    build:
      context: .
      dockerfile: dockerfiles/dataseeder_api.dockerfile
      network: host
    ports:
      - "5002:5002"
    depends_on:
      db:
        condition: service_healthy
        restart: true
    networks:
      - backend
      - frontend  
  web_backend:
    build:
      context: . 
      dockerfile: dockerfiles/web_backend.dockerfile
      network: host
    ports:
      - 8000:8000
    depends_on:
      - redis
      - api
    networks:
      - frontend
  web_frontend:
    build:
      context: .
      dockerfile: dockerfiles/web_frontend.dockerfile
      network: host
    ports:
      - 3000:80
    depends_on:
      - web_backend
    networks:
      - frontend  
  redis:
    image: redis
    networks:
      - frontend
  cypress:
    build:
      context: .
      dockerfile: dockerfiles/cypress.dockerfile
    depends_on:
      - dataseeder_api
      - web_frontend
    networks:
      - frontend
      - backend