name: Api Docker Build And Publish
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}_api
jobs:
  waitForWorkflows:
    name: Wait for workflows
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.1
        with:
          ref:
            ${{ github.event.pull_request.head.sha ||
            github.event.merge_group.head_sha }}

      - name: Wait for workflows
        id: wait
        # Go to https://github.com/smartcontractkit/.github/tags
        # To find the most recent version of wait-for-workflows
        uses: smartcontractkit/.github/actions/wait-for-workflows@0.1.3
        with:
          max-timeout: "900"
          polling-interval: "30"
          exclude-workflow-names: "UI Test, Dataseeder Api Docker Build And Publish, Dataseeder Docker Build And Publish, Web Backend Docker Build And Publish, Web Frontend Docker Build And Publish"
          exclude-workflow-ids: ""
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          DEBUG: "true"

  build-and-push-image:
    needs: [waitForWorkflows]
    runs-on: ubuntu-latest
    if: always()
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      db:
        image: ghcr.io/rorycoble/valuestracker_db:main
        credentials:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.ghcr_password }}
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: EntitiesAndValues
        options: >-
          --health-cmd "pg_isready -U postgres -d EntitiesAndValues"
          --health-interval 10s
          --health-timeout 10s
          --health-retries 5
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      id: push
      uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      with:
        context: .
        file: dockerfiles/api.dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        network: host
        build-args: |
          HOST=localhost
          PORT=5432

    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
